/* Color Palette #EAF6F6#f1f7f8#40514E#D5EEFF#78BBE6#2E719E#1B435D#FF9670*/
/* New Colors #ec5b53#002d5b#080827#464d65*/

/* RESETS */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

/* END RESETS */

body {
	font-family: "Rubik", sans-serif;
	line-height: 1.5;
	color: #002d5b;
	background: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Rufina", serif;
}

section {
	margin: 25px 0;
	padding: 10px;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 1.5rem;
}

/* NAVIGATION */

nav {
	display: flex;
	justify-content: space-between;
	padding: 15px;
	font-size: 0.75rem;
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul li {
	margin: 10px;
}

nav a {
	transition: all 0.2s ease-out;
}

nav a:hover {
	color: #ec5b53;
	transition: all 0.2s ease-in;
}

nav a.active {
	border-bottom: solid #ec5b53 2px;
}

nav .icon {
	width: 1rem;
	background: center / cover no-repeat url(../img/icons/linkedin48px.png);
	color: transparent;
	transition: all 0.2s ease-out;
}

nav .icon:hover {
	background: center / cover no-repeat url(../img/icons/linkedin48pxhover.png);
	transition: all 0.2s ease-in;
}

@media screen and (min-width: 400px) {
	nav {
		font-size: 1rem;
	}

	nav .icon {
		width: 2rem;
	}
}

/* END NAVIGATION */

/* SECTION STYLING */

section h2 {
	text-align: center;
}

section p {
	margin: 50px 20px 0;
	max-width: 80%;
}

section img {
	width: 200px;
}

section > div {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
	padding: 0;
}

section h2 {
	margin-bottom: 50px;
}

/* END SECTION STYLING */

.profile h1 {
	line-height: 1.25;
	margin: 25px 0;
	text-align: center;
}

.profile h3 {
	font-size: 1.75rem;
	margin: 20px;
}

.profile img {
	margin-bottom: 20px;
	width: 240px;
}

@media screen and (min-width: 450px) {
	.profile div {
		flex-flow: row;
	}
	.profile img {
		padding: 20px;
	}
}

.skill_row {
	margin-bottom: 50px;
}

.skill_row div {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.skill_row h3 {
	margin-top: 30px;
	text-align: center;
}

@media screen and (min-width: 450px) {
	.skill_row div {
		flex-flow: row;
		justify-content: space-around;
		margin: 0 20px 20px;
	}

	.skill_row img {
		width: 35%;
	}
}

/* FOOTER */
footer {
	background: #080827;
	color: white;
	padding: 25px 0;
}

footer p:not(:first-child) {
	margin-top: 20px;
}

footer a {
	text-decoration: #ec5b53 underline;
}

footer a:hover {
	color: #ec5b53;
	transition: all 0.2s ease-in-out;
}

/* END FOOTER */
